body {
  background-color: #2a2c2f;
  width: 100vw;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 984px;
  margin: auto;
  color: white;
  font-family: "Inter-Regular";
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .page{
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page{
    max-width: 320px;
  }
}